## Subsetting and Sorting

In [1]:
df <- data.frame(v1 = sample(1:5), v2 = sample(6:10), v3 = sample(11: 20))
df <- df[sample(1:5),]; df$v2[c(1, 3)] = NA
df

  v1 v2 v3
5 1  NA 18
1 5   6 16
3 2  NA 13
4 3   9 11
2 4   7 19

**Subsetting**

In [2]:
df[, 1]

[1] 1 5 2 3 4

In [4]:
 df[, 'v1']

[1] 1 5 2 3 4

In [5]:
df[1:2, 'v2']

[1] NA  6

**Logical ands and ors**

In [8]:
df[df$v1 < 4 & df$v3> 13,]

  v1 v2 v3
5 1  NA 18

In [10]:
df[df$v1 < 3 | df$v3> 15,]

  v1 v2 v3
5 1  NA 18
1 5   6 16
3 2  NA 13
2 4   7 19

**Dealing with missing values**

In [11]:
df[df$v2 > 8,]

     v1 v2 v3
NA   NA NA NA
NA.1 NA NA NA
4     3  9 11

In [12]:
df[which(df$v2 > 8), ]

  v1 v2 v3
4 3  9  11

**Sorting**

In [13]:
sort(df$v1)

[1] 1 2 3 4 5

In [14]:
sort(df$v1, decreasing = TRUE)

[1] 5 4 3 2 1

In [15]:
sort(df$v2, na.last = TRUE)

[1]  6  7  9 NA NA

**Ordering**

In [16]:
df[order(df$v1), ]

  v1 v2 v3
5 1  NA 18
3 2  NA 13
4 3   9 11
2 4   7 19
1 5   6 16

In [17]:
df[order(df$v1, df$v3), ]

  v1 v2 v3
5 1  NA 18
3 2  NA 13
4 3   9 11
2 4   7 19
1 5   6 16

In [18]:
library(plyr)

In [19]:
arrange(df, v1)

  v1 v2 v3
1 1  NA 18
2 2  NA 13
3 3   9 11
4 4   7 19
5 5   6 16

In [21]:
arrange(df, desc(v1))

  v1 v2 v3
1 5   6 16
2 4   7 19
3 3   9 11
4 2  NA 13
5 1  NA 18

In [23]:
# adding a column
df$v4 <- rnorm(length(df$v1))
df

  v1 v2 v3 v4
5 1  NA 18 -0.19584806
1 5   6 16 -0.42947615
3 2  NA 13 -0.24557933
4 3   9 11  2.33768050
2 4   7 19  0.04345927

In [27]:
# adding column using cbind
df1 <- cbind(df, rnorm(length(df$v1)) * 5)
df1

  v1 v2 v3 v4          rnorm(length(df$v1)) * 5
5 1  NA 18 -0.19584806 -9.2159359
1 5   6 16 -0.42947615  1.5079519
3 2  NA 13 -0.24557933 -3.1658821
4 3   9 11  2.33768050 -8.1937698
2 4   7 19  0.04345927  0.1661753

## Summurizing data

In [29]:
if(!file.exists('./data')) {dir.create('./data')}

file_url <- 'https://data.baltimorecity.gov/api/views/k5ry-ef3g/rows.csv?accessType=DOWNLOAD'
download.file(url = file_url, destfile = './data/restaurant.csv', method = 'curl')
rest_data = read.csv('./data/restaurant.csv')

**Look at a bit of the data**

In [30]:
head(rest_data, n=3)

  name  zipCode neighborhood councilDistrict policeDistrict
1 410   21206   Frankford    2               NORTHEASTERN
2 1919  21231   Fells Point  1               SOUTHEASTERN
3 SAUTE 21224   Canton       1               SOUTHEASTERN
  Location.1
1 4509 BELAIR ROAD\nBaltimore, MD
2 1919 FLEET ST\nBaltimore, MD
3 2844 HUDSON ST\nBaltimore, MD

In [31]:
tail(rest_data, n=3)

     name             zipCode neighborhood  councilDistrict policeDistrict
1325 ZINK'S CAF\u0090 21213   Belair-Edison 13              NORTHEASTERN
1326 ZISSIMOS BAR     21211   Hampden        7              NORTHERN
1327 ZORBAS           21224   Greektown      2              SOUTHEASTERN
     Location.1
1325 3300 LAWNVIEW AVE\nBaltimore, MD
1326 1023 36TH ST\nBaltimore, MD
1327 4710 EASTERN Ave\nBaltimore, MD

**Make summary**

In [32]:
summary(rest_data)

                           name         zipCode             neighborhood
 MCDONALD'S                  :   8   Min.   :-21226   Downtown    :128
 POPEYES FAMOUS FRIED CHICKEN:   7   1st Qu.: 21202   Fells Point : 91
 SUBWAY                      :   6   Median : 21218   Inner Harbor: 89
 KENTUCKY FRIED CHICKEN      :   5   Mean   : 21185   Canton      : 81
 BURGER KING                 :   4   3rd Qu.: 21226   Federal Hill: 42
 DUNKIN DONUTS               :   4   Max.   : 21287   Mount Vernon: 33
 (Other)                     :1293                    (Other)     :863
 councilDistrict       policeDistrict                         Location.1
 Min.   : 1.000   SOUTHEASTERN:385    1101 RUSSELL ST\nBaltimore, MD:   9
 1st Qu.: 2.000   CENTRAL     :288    201 PRATT ST\nBaltimore, MD   :   8
 Median : 9.000   SOUTHERN    :213    2400 BOSTON ST\nBaltimore, MD :   8
 Mean   : 7.191   NORTHERN    :157    300 LIGHT ST\nBaltimore, MD   :   5
 3rd Qu.:11.000   NORTHEASTERN: 72    300 CHARLES ST\nBaltimore, MD :   4
 Max.   :14.000   EASTERN     : 67    301 LIGHT ST\nBaltimore, MD   :   4
                  (Other)     :145    (Other)                       :1289

In [33]:
# more in depth of the data
str(rest_data)

'data.frame':	1327 obs. of  6 variables:
 $ name           : Factor w/ 1277 levels "#1 CHINESE KITCHEN",..: 9 3 992 1 2 4 5 6 7 8 ...
 $ zipCode        : int  21206 21231 21224 21211 21223 21218 21205 21211 21205 21231 ...
 $ neighborhood   : Factor w/ 173 levels "Abell","Arlington",..: 53 52 18 66 104 33 98 133 98 157 ...
 $ councilDistrict: int  2 1 1 14 9 14 13 7 13 1 ...
 $ policeDistrict : Factor w/ 9 levels "CENTRAL","EASTERN",..: 3 6 6 4 8 3 6 4 6 6 ...
 $ Location.1     : Factor w/ 1210 levels "1 BIDDLE ST\nBaltimore, MD",..: 835 334 554 755 492 537 505 530 507 569 ...

**Quantile**

In [38]:
quantile(rest_data$councilDistrict)

  0%  25%  50%  75% 100%
   1    2    9   11   14

In [39]:
quantile(rest_data$councilDistrict, probs = c(0.5, 0.75, 0.9))

50% 75% 90%
  9  11  12

**Make table**

In [40]:
table(rest_data$zipCode, useNA = 'ifany')

-21226  21201  21202  21205  21206  21207  21208  21209  21210  21211  21212
     1    136    201     27     30      4      1      8     23     41     28
 21213  21214  21215  21216  21217  21218  21220  21222  21223  21224  21225
    31     17     54     10     32     69      1      7     56    199     19
 21226  21227  21229  21230  21231  21234  21237  21239  21251  21287
    18      4     13    156    127      7      1      3      2      1

In [41]:
table(rest_data$councilDistrict, rest_data$zipCode, useNA = 'ifany')

     -21226 21201 21202 21205 21206 21207 21208 21209 21210 21211 21212 21213
  1       0     0    37     0     0     0     0     0     0     0     0     2
  2       0     0     0     3    27     0     0     0     0     0     0     0
  3       0     0     0     0     0     0     0     0     0     0     0     2
  4       0     0     0     0     0     0     0     0     0     0    27     0
  5       0     0     0     0     0     3     0     6     0     0     0     0
  6       0     0     0     0     0     0     0     1    19     0     0     0
  7       0     0     0     0     0     0     0     1     0    27     0     0
  8       0     0     0     0     0     1     0     0     0     0     0     0
  9       0     1     0     0     0     0     0     0     0     0     0     0
  10      1     0     1     0     0     0     0     0     0     0     0     0
  11      0   115   139     0     0     0     1     0     0     0     1     0
  12      0    20    24     4     0     0     0     0     0     0     0    13
  13      0     0     0    20     3     0     0     0     0     0     0    13
  14      0     0     0     0     0     0     0     0     4    14     0     1

     21214 21215 21216 21217 21218 21220 21222 21223 21224 21225 21226 21227
  1      0     0     0     0     0     0     7     0   140     1     0     0
  2      0     0     0     0     0     0     0     0    54     0     0     0
  3     17     0     0     0     3     0     0     0     0     0     0     1
  4      0     0     0     0     0     0     0     0     0     0     0     0
  5      0    31     0     0     0     0     0     0     0     0     0     0
  6      0    15     1     0     0     0     0     0     0     0     0     0
  7      0     6     7    15     6     0     0     0     0     0     0     0
  8      0     0     0     0     0     0     0     2     0     0     0     2
  9      0     0     2     8     0     0     0    53     0     0     0     0
  10     0     0     0     0     0     1     0     0     0    18    18     0
  11     0     0     0     9     0     0     0     1     0     0     0     0
  12     0     0     0     0    26     0     0     0     0     0     0     0
  13     0     1     0     0     0     0     0     0     5     0     0     1
  14     0     1     0     0    34     0     0     0     0     0     0     0

     21229 21230 21231 21234 21237 21239 21251 21287
  1      0     1   124     0     0     0     0     0
  2      0     0     0     0     1     0     0     0
  3      0     0     0     7     0     0     2     0
  4      0     0     0     0     0     3     0     0
  5      0     0     0     0     0     0     0     0
  6      0     0     0     0     0     0     0     0
  7      0     0     0     0     0     0     0     0
  8     13     0     0     0     0     0     0     0
  9      0    11     0     0     0     0     0     0
  10     0   133     0     0     0     0     0     0
  11     0    11     0     0     0     0     0     0
  12     0     0     2     0     0     0     0     0
  13     0     0     1     0     0     0     0     1
  14     0     0     0     0     0     0     0     0

**Check for missing values**

In [43]:
count(is.na(rest_data$councilDistrict))

  x     freq
1 FALSE 1327

In [44]:
any(is.na(rest_data$councilDistrict))

[1] FALSE

In [45]:
all(rest_data$zipCode > 0)

[1] FALSE

**Row and column sum**

In [46]:
colSums(is.na(rest_data))

                 name               zipCode          neighborhood
                    0                     0                     0
      councilDistrict        policeDistrict            Location.1
                    0                     0                     0
councilDistrict.na.rm
                    0

In [47]:
all(colSums(is.na(rest_data)) == 0)

[1] TRUE

**Values with specific values**

In [48]:
table(rest_data$zipCode %in% c('21206'))

FALSE  TRUE
 1297    30

In [49]:
table(rest_data$zipCode %in% c('21206', '21215'))

FALSE  TRUE
 1243    84

In [50]:
rest_data[rest_data$zipCode %in% c('21206', '21215'),]

     name                                            zipCode
1    410                                             21206
12   5-MILE HOUSE                                    21215
27   ALFEO'S                                         21215
35   BELAIR PUB                                      21206
38   BERGER'S TAVERN, INCORPORATED                   21206
53   BLACKTIE SERVICE, LLP                           21215
58   ALLEN RESTAURANT                                21206
74   APPLEBEE'S NEIGHBORHOOD GRILL & BAR             21215
131  BLUE PARROT                                     21206
152  BROOKEY'S                                       21206
169  BURGER KING #10295                              21215
171  BURGER KING #2610                               21215
190  CAMERON'S SEAFOOD                               21215
214  CC LOUNGE                                       21215
216  CEDONIA INN                                     21206
239  CHIMES CAF\u0090                                21215
290  COACH HOUSE INN                                 21206
326  DANNY'S LOUNGE                                  21215
329  DASH SEAFOOD & CHICKEN                          21215
365  DUCK'S BLACK SATIN LOUNGE                       21215
374  DUNKIN DONUTS                                   21215
407  europe restaurant & catering                    21215
439  FRANK'S PIZZA                                   21206
461  GEORGIO'S                                       21215
476  GRANDVIEW RESTAURANT                            21215
507  JOCKEY CLUB/PALACE KITCHEN                      21215
511  JOE'S TAVERN & PACKAGE GOODS                    21215
541  RAINBOW HOMESTYLE BUFFET                        21206
558  RED ROOSTER                                     21206
566  HAMILTON HOMING PIGEON CLUB, INC.               21206
⋮    ⋮                                               ⋮
887  NORTH'S CAF\u0090                               21215
894  O'HARA'S IRISH PUB                              21206
909  OVERLEA   DINER                                 21206
911  P & S JAMAICAN & AMERICAN RESTAURNAT & CARRYOUT 21215
917  PANDA EXPRESS # 1152                            21215
924  PARADISE OF PARK HEIGHTS                        21215
948  PEPPER'S LIQUOR'S                               21215
963  PIMLICO TRACK KITCHEN  (PIMLICO RACE COURSE)    21215
975  POPEYES FAMOUS FRIED CHICKEN                    21206
977  POPEYES FAMOUS FRIED CHICKEN                    21206
979  POPEYE'S FAMOUS FRIED CHICKEN & BISCUITS        21215
980  POPEYES OF MONDAWMIN                            21215
984  REISTERSTOWN ROAD SUBWAY                        21215
993  RITA'S ITALIAN ICE                              21215
1046 SHELDON'S LOUNGE                                21206
1067 SISTA'  SANDRA'S INTERNATIONAL CUSINE           21215
1073 SLIM ACE OF CLUB                                21206
1101 SPORTS PALACE                                   21215
1191 THE GARDENVILLE CLUB                            21206
1200 THE HUBCAP INN                                  21206
1218 THE PREAKNESS LOUNGE                            21215
1230 THIRSTY'S II                                    21206
1254 TRINIDAD ASSOCIATES                             21215
1256 TROPICAL TASTE RESTAURANT                       21215
1288 VULCAN BLAZERS, INC OF BALTIMORE CITY           21215
1294 WENDY'S                                         21215
1299 WENDY'S RESTAURANT                              21215
1305 WHITTEN'S II                                    21206
1313 WYLIE  LIQUORS (3101-03)                        21215
1317 YELLOW BOWL RESTAURANT II                       21215
     neighborhood           councilDistrict policeDistrict
1    Frankford               2              NORTHEASTERN
12   Woodmere                5              NORTHWESTERN
27   Mondawmin               7              WESTERN
35   Glenham-Belford         2              NORTHEASTERN
38   Waltherson              2              NORTHEASTERN
53   Seton Business Park     5              NORTHWESTERN
58   Waltherson              2              NORTHEASTERN
74   Fallstaff               5              NORTHWESTERN
131  Glenham-Belford         2              NORTHEASTERN
152  Belair-Edison          13              NORTHEASTERN
169  Central Park Heights    6              NORTHWESTERN
171  Mondawmin               7              WESTERN
190  Central Park Heights    6              NORTHWESTERN
214  Lucille Park            6              NORTHWESTERN
216  Frankford               2              NORTHEASTERN
239  Seton Business Park     5              NORTHWESTERN
290  Cedmont                 2              NORTHEASTERN
326  Towanda-Grantley        6              NORTHWESTERN
329  Central Park Heights    6              NORTHWESTERN
365  Central Park Heights    6              NORTHWESTERN
374  Fallstaff               5              NORTHWESTERN
407  Reisterstown Station    5              NORTHWESTERN
439  Rosemont East           2              NORTHEASTERN
461  Reisterstown Station    5              NORTHWESTERN
476  Hampden                14              NORTHERN
507  Pimlico Good Neighbors  5              NORTHWESTERN
511  Glen                    5              NORTHWESTERN
541  Frankford               2              NORTHEASTERN
558  Frankford               2              NORTHEASTERN
566  Frankford               2              NORTHEASTERN
⋮    ⋮                      ⋮               ⋮
887  Arlington               5              NORTHWESTERN
894  Rosemont East           2              NORTHEASTERN
909  Rosemont East           2              NORTHEASTERN
911  Pimlico Good Neighbors  5              NORTHWESTERN
917  Reisterstown Station    5              NORTHWESTERN
924  Central Park Heights    6              NORTHWESTERN
948  Woodmere                5              NORTHWESTERN
963  Pimlico Good Neighbors  5              NORTHWESTERN
975  Frankford               2              NORTHEASTERN
977  Rosemont East           2              NORTHEASTERN
979  Reisterstown Station    5              NORTHWESTERN
980  Mondawmin               7              WESTERN
984  Woodmere                5              NORTHWESTERN
993  Fallstaff               5              NORTHWESTERN
1046 Belair-Edison          13              NORTHEASTERN
1067 Reisterstown Station    5              NORTHWESTERN
1073 Belair-Edison          13              NORTHEASTERN
1101 Pimlico Good Neighbors  5              NORTHWESTERN
1191 Frankford               2              NORTHEASTERN
1200 Cedmont                 2              NORTHEASTERN
1218 Greenspring             6              NORTHERN
1230 Cedmont                 2              NORTHEASTERN
1254 Arlington               5              NORTHWESTERN
1256 Woodmere                6              NORTHWESTERN
1288 Liberty Square          7              NORTHWESTERN
1294 Reisterstown Station    5              NORTHWESTERN
1299 Grove Park              5              NORTHWESTERN
1305 Frankford               2              NORTHEASTERN
1313 Central Park Heights    6              NORTHWESTERN
1317 Central Park Heights    6              NORTHWESTERN
     Location.1                              councilDistrict.na.rm
1    4509 BELAIR ROAD\nBaltimore, MD         TRUE
12   5302 REISTERSTOWN RD\nBaltimore, MD     TRUE
27   2401 LIBERTY HEIGHTS AVE\nBaltimore, MD TRUE
35   5860 BELAIR RD\nBaltimore, MD           TRUE
38   5523 BELAIR RD\nBaltimore, MD           TRUE
53   4700 MT HOPE DR\nBaltimore, MD          TRUE
58   5621 BELAIR RD\nBaltimore, MD           TRUE
74   6798 REISTERSTOWN RD\nBaltimore, MD     TRUE
131  5860 BELAIR RD\nBaltimore, MD           TRUE
152  4201 BELAIR RD\nBaltimore, MD           TRUE
169  4400 REISTERSTOWN RD\nBaltimore, MD     TRUE
171  2401 LIBERTY HEIGHTS AVE\nBaltimore, MD TRUE
190  2707 COLD SPRING LN\nBaltimore, MD      TRUE
214  4923 REISTERSTOWN RD\nBaltimore, MD     TRUE
216  5900 MORAVIA RD\nBaltimore, MD          TRUE
239  4814 SETON DR\nBaltimore, MD            TRUE
290  6605 BELAIR RD\nBaltimore, MD           TRUE
326  4316 REISTERSTOWN RD\nBaltimore, MD     TRUE
329  5124 PARK HEIGHTS AVE\nBaltimore, MD    TRUE
365  4559 REISTERSTOWN RD\nBaltimore, MD     TRUE
374  7000 REISTERSTOWN RD\nBaltimore, MD     TRUE
407  4147 labyrinth rd\nBaltimore, MD        TRUE
439  6620 BELAIR RD\nBaltimore, MD           TRUE
461  6322 REISTERSTOWN RD\nBaltimore, MD     TRUE
476  3838 ROLAND AVE\nBaltimore, MD          TRUE
507  Hayward Ave\nBaltimore, MD              TRUE
511  6200 REISTERSTOWN RD\nBaltimore, MD     TRUE
541  5016 SINCLAIR LN\nBaltimore, MD         TRUE
558  6412 FRANKFORD AVE\nBaltimore, MD       TRUE
566  4810 GUNTHER AVE\nBaltimore, MD         TRUE
⋮    ⋮                                       ⋮
887  3716 BELVEDERE AVE\nBaltimore, MD       TRUE
894  6506 BELAIR RD\nBaltimore, MD           TRUE
909  6652 BELAIR RD\nBaltimore, MD           TRUE
911  5218 PARK HEIGHTS AVE\nBaltimore, MD    TRUE
917  6514 REISTERSTOWN RD\nBaltimore, MD     TRUE
924  4448 PARK HEIGHTS AVE\nBaltimore, MD    TRUE
948  5440 REISTERSTOWN RD\nBaltimore, MD     TRUE
963  Haward Ave\nBaltimore, MD               TRUE
975  5002 SINCLAIR LN\nBaltimore, MD         TRUE
977  6642 BELAIR RD\nBaltimore, MD           TRUE
979  6512 reisterstown RD\nBaltimore, MD     TRUE
980  2401 LIBERTY HEIGHTS AVE\nBaltimore, MD TRUE
984  5520 REISTERSTOWN ROAD\nBaltimore, MD   TRUE
993  6796 REISTERSTOWN RD\nBaltimore, MD     TRUE
1046 4325 BELAIR RD\nBaltimore, MD           TRUE
1067 6212 REISTERSTOWN RD\nBaltimore, MD     TRUE
1073 4200 BELAIR RD\nBaltimore, MD           TRUE
1101 Hayward Ave\nBaltimore, MD              TRUE
1191 5405 RADECKE AVE\nBaltimore, MD         TRUE
1200 6003 BELAIR RD\nBaltimore, MD           TRUE
1218 4103 PIMLICO RD\nBaltimore, MD          TRUE
1230 6037 BELAIR RD\nBaltimore, MD           TRUE
1254 5402 PARK HEIGHTS AVE\nBaltimore, MD    TRUE
1256 5205 REISTERSTOWN RD\nBaltimore, MD     TRUE
1288 2811 DRUID PARK DR\nBaltimore, MD       TRUE
1294 4200 PATTERSON AVE\nBaltimore, MD       TRUE
1299 4410 NORTHERN PKWY\nBaltimore, MD       TRUE
1305 5307 BELAIR RD\nBaltimore, MD           TRUE
1313 3101 WYLIE AVE\nBaltimore, MD           TRUE
1317 5131 PARK HEIGHTS AVE\nBaltimore, MD    TRUE

**Cross tabs**

In [51]:
data(UCBAdmissions)
df <- as.data.frame(UCBAdmissions)
summary(df)

      Admit       Gender   Dept       Freq
 Admitted:12   Male  :12   A:4   Min.   :  8.0
 Rejected:12   Female:12   B:4   1st Qu.: 80.0
                           C:4   Median :170.0
                           D:4   Mean   :188.6
                           E:4   3rd Qu.:302.5
                           F:4   Max.   :512.0

In [53]:
xt <- xtabs(Freq ~ Gender + Admit, data=df)
xt

        Admit
Gender   Admitted Rejected
  Male       1198     1493
  Female      557     1278

In [54]:
head(df)

  Admit    Gender Dept Freq
1 Admitted Male   A    512
2 Rejected Male   A    313
3 Admitted Female A     89
4 Rejected Female A     19
5 Admitted Male   B    353
6 Rejected Male   B    207

**Flat table**

In [57]:
warpbreaks$replicate <- rep(1:9, len=54)
xt <- xtabs(breaks ~ ., data=warpbreaks)
xt

, , replicate = 1

    tension
wool  L  M  H
   A 26 18 36
   B 27 42 20

, , replicate = 2

    tension
wool  L  M  H
   A 30 21 21
   B 14 26 21

, , replicate = 3

    tension
wool  L  M  H
   A 54 29 24
   B 29 19 24

, , replicate = 4

    tension
wool  L  M  H
   A 25 17 18
   B 19 16 17

, , replicate = 5

    tension
wool  L  M  H
   A 70 12 10
   B 29 39 13

, , replicate = 6

    tension
wool  L  M  H
   A 52 18 43
   B 31 28 15

, , replicate = 7

    tension
wool  L  M  H
   A 51 35 28
   B 41 21 15

, , replicate = 8

    tension
wool  L  M  H
   A 26 30 15
   B 20 39 16

, , replicate = 9

    tension
wool  L  M  H
   A 67 36 26
   B 44 29 28

In [58]:
ftable(xt)

             replicate  1  2  3  4  5  6  7  8  9
wool tension
A    L                 26 30 54 25 70 52 51 26 67
     M                 18 21 29 17 12 18 35 30 36
     H                 36 21 24 18 10 43 28 15 26
B    L                 27 14 29 19 29 31 41 20 44
     M                 42 26 19 16 39 28 21 39 29
     H                 20 21 24 17 13 15 15 16 28

In [59]:
# size of the dataset
object.size(warpbreaks)

3272 bytes

## Creating new variables

In [60]:
rest_data = read.csv('./data/restaurant.csv')

**Create indexes**

In [62]:
s1 <- seq(1,10, by=2); s1

[1] 1 3 5 7 9

In [63]:
s2 <- seq(1,10, length=3); s2

[1]  1.0  5.5 10.0

In [64]:
x <- c(1, 3, 4, 7, 8); seq(along=x)

[1] 1 2 3 4 5

**Subsetting variables**

In [65]:
rest_data$near_me <- rest_data$neighborhood %in% c('Roland Park', 'Homeland')
table(rest_data$near_me)

FALSE  TRUE
 1314    13

In [67]:
rest_data$wrong_zip <- ifelse(rest_data$zipCode < 0, TRUE, FALSE)
table(rest_data$wrong_zip, rest_data$zipCode < 0)

        FALSE TRUE
  FALSE  1326    0
  TRUE      0    1

**Creating categorical variables**

In [69]:
rest_data$zip_group <- cut(rest_data$zipCode, breaks = quantile(rest_data$zipCode))
table(rest_data$zip_group)

(-2.123e+04,2.12e+04]  (2.12e+04,2.122e+04] (2.122e+04,2.123e+04]
                  337                   375                   282
(2.123e+04,2.129e+04]
                  332

In [70]:
table(rest_data$zip_group, rest_data$zipCode)

                        -21226 21201 21202 21205 21206 21207 21208 21209 21210
  (-2.123e+04,2.12e+04]      0   136   201     0     0     0     0     0     0
  (2.12e+04,2.122e+04]       0     0     0    27    30     4     1     8    23
  (2.122e+04,2.123e+04]      0     0     0     0     0     0     0     0     0
  (2.123e+04,2.129e+04]      0     0     0     0     0     0     0     0     0

                        21211 21212 21213 21214 21215 21216 21217 21218 21220
  (-2.123e+04,2.12e+04]     0     0     0     0     0     0     0     0     0
  (2.12e+04,2.122e+04]     41    28    31    17    54    10    32    69     0
  (2.122e+04,2.123e+04]     0     0     0     0     0     0     0     0     1
  (2.123e+04,2.129e+04]     0     0     0     0     0     0     0     0     0

                        21222 21223 21224 21225 21226 21227 21229 21230 21231
  (-2.123e+04,2.12e+04]     0     0     0     0     0     0     0     0     0
  (2.12e+04,2.122e+04]      0     0     0     0     0     0     0     0     0
  (2.122e+04,2.123e+04]     7    56   199    19     0     0     0     0     0
  (2.123e+04,2.129e+04]     0     0     0     0    18     4    13   156   127

                        21234 21237 21239 21251 21287
  (-2.123e+04,2.12e+04]     0     0     0     0     0
  (2.12e+04,2.122e+04]      0     0     0     0     0
  (2.122e+04,2.123e+04]     0     0     0     0     0
  (2.123e+04,2.129e+04]     7     1     3     2     1

**Esier cutting**

In [73]:
install.packages('Hmisc')
library(Hmisc)

also installing the dependencies ‘checkmate’, ‘Formula’, ‘latticeExtra’, ‘acepack’, ‘htmlTable’, ‘viridis’

The downloaded binary packages are in
	/var/folders/1x/hdfy228j1m56sj_h_wlzdd6c0000gn/T//RtmpvnB3vD/downloaded_packages

Loading required package: lattice
Loading required package: survival
Loading required package: Formula
Loading required package: ggplot2

Attaching package: ‘Hmisc’

The following objects are masked from ‘package:plyr’:

    is.discrete, summarize

The following objects are masked from ‘package:base’:

    format.pval, units

In [74]:
rest_data$zip_group <- cut2(rest_data$zipCode, g=4)
table(rest_data$zip_group)

[-21226,21205) [ 21205,21220) [ 21220,21227) [ 21227,21287]
           338            375            300            314

**Creating Factor variable**

In [75]:
rest_data$zcf <- factor(rest_data$zipCode)
rest_data$zcf[1:10]

 [1] 21206 21231 21224 21211 21223 21218 21205 21211 21205 21231
32 Levels: -21226 21201 21202 21205 21206 21207 21208 21209 21210 ... 21287

In [76]:
class(rest_data$zcf)

[1] "factor"

In [77]:
yesno <- sample(c('yes', 'no'), size = 10, replace = TRUE)
yesnof <- factor(yesno, levels = c('yes', 'no'))
yesnof

 [1] yes no  yes no  yes no  no  no  yes yes
Levels: yes no

In [78]:
relevel(yesnof, ref='yes')

 [1] yes no  yes no  yes no  no  no  yes yes
Levels: yes no

In [79]:
as.numeric(yesnof)

 [1] 1 2 1 2 1 2 2 2 1 1

In [81]:
# Using the mutate function
library(Hmisc); library(plyr)
rest_data2 <- mutate(rest_data, zip_groups = cut2(zipCode, g=4))
table(rest_data2$zip_groups)

[-21226,21205) [ 21205,21220) [ 21220,21227) [ 21227,21287]
           338            375            300            314

## Reshaping data

In [82]:
library(reshape2)
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [83]:
mtcars$carnames <- rownames(mtcars)
car_melt <- melt(mtcars, id=c('carnames', 'gear', 'cyl'), measure.vars = c('mpg', 'hp'))
head(car_melt, n=3)

  carnames      gear cyl variable value
1 Mazda RX4     4    6   mpg      21.0
2 Mazda RX4 Wag 4    6   mpg      21.0
3 Datsun 710    4    4   mpg      22.8

In [84]:
tail(car_melt)

   carnames       gear cyl variable value
59 Porsche 914-2  5    4   hp        91
60 Lotus Europa   5    4   hp       113
61 Ford Pantera L 5    8   hp       264
62 Ferrari Dino   5    6   hp       175
63 Maserati Bora  5    8   hp       335
64 Volvo 142E     4    4   hp       109

**Casting data frame**

In [87]:
cyl_data <- dcast(car_melt, cyl ~ variable)
cyl_data

Aggregation function missing: defaulting to length

  cyl mpg hp
1 4   11  11
2 6    7   7
3 8   14  14

In [88]:
cyl_data <- dcast(car_melt, cyl ~ variable, mean)
cyl_data

  cyl mpg      hp
1 4   26.66364  82.63636
2 6   19.74286 122.28571
3 8   15.10000 209.21429

**Averaging values**

In [89]:
head(InsectSprays)

  count spray
1 10    A
2  7    A
3 20    A
4 14    A
5 14    A
6 12    A

In [90]:
tapply(InsectSprays$count, InsectSprays$spray, sum)

  A   B   C   D   E   F
174 184  25  59  42 200

In [91]:
spIns <- split(InsectSprays$count, InsectSprays$spray)
spIns

$A
 [1] 10  7 20 14 14 12 10 23 17 20 14 13

$B
 [1] 11 17 21 11 16 14 17 17 19 21  7 13

$C
 [1] 0 1 7 2 3 1 2 1 3 0 1 4

$D
 [1]  3  5 12  6  4  3  5  5  5  5  2  4

$E
 [1] 3 5 3 5 3 6 1 1 3 2 6 4

$F
 [1] 11  9 15 22 15 16 13 10 26 26 24 13

In [92]:
sprCount <- lapply(spIns, sum)
sprCount

$A
[1] 174

$B
[1] 184

$C
[1] 25

$D
[1] 59

$E
[1] 42

$F
[1] 200

In [93]:
unlist(sprCount)

  A   B   C   D   E   F
174 184  25  59  42 200

In [94]:
sapply(spIns, sum)

  A   B   C   D   E   F
174 184  25  59  42 200

In [96]:
ddply(InsectSprays, .(spray), summarise, sum=sum(count))

  spray sum
1 A     174
2 B     184
3 C      25
4 D      59
5 E      42
6 F     200

In [97]:
spr_sum <- ddply(InsectSprays, .(spray), summarise, sum=ave(count, FUN=sum))
spr_sum

   spray sum
1  A     174
2  A     174
3  A     174
4  A     174
5  A     174
6  A     174
7  A     174
8  A     174
9  A     174
10 A     174
11 A     174
12 A     174
13 B     184
14 B     184
15 B     184
16 B     184
17 B     184
18 B     184
19 B     184
20 B     184
21 B     184
22 B     184
23 B     184
24 B     184
25 C      25
26 C      25
27 C      25
28 C      25
29 C      25
30 C      25
⋮  ⋮     ⋮
43 D      59
44 D      59
45 D      59
46 D      59
47 D      59
48 D      59
49 E      42
50 E      42
51 E      42
52 E      42
53 E      42
54 E      42
55 E      42
56 E      42
57 E      42
58 E      42
59 E      42
60 E      42
61 F     200
62 F     200
63 F     200
64 F     200
65 F     200
66 F     200
67 F     200
68 F     200
69 F     200
70 F     200
71 F     200
72 F     200

## Managing data frames with dplyr

In [104]:
data_url = 'https://github.com/DataScienceSpecialization/courses/blob/master/03_GettingData/dplyr/chicago.rds?raw=true'
download.file(url = data_url, destfile = './data/chicago.rds', method = 'curl', extra='-L')
chicago_data = readRDS('./data/chicago.rds')

In [105]:
dim(chicago_data)

[1] 6940    8

In [107]:
str(chicago_data)

'data.frame':	6940 obs. of  8 variables:
 $ city      : chr  "chic" "chic" "chic" "chic" ...
 $ tmpd      : num  31.5 33 33 29 32 40 34.5 29 26.5 32.5 ...
 $ dptp      : num  31.5 29.9 27.4 28.6 28.9 ...
 $ date      : Date, format: "1987-01-01" "1987-01-02" ...
 $ pm25tmean2: num  NA NA NA NA NA NA NA NA NA NA ...
 $ pm10tmean2: num  34 NA 34.2 47 NA ...
 $ o3tmean2  : num  4.25 3.3 3.33 4.38 4.75 ...
 $ no2tmean2 : num  20 23.2 23.8 30.4 30.3 ...

**`select`**

In [108]:
names(chicago_data)

[1] "city"       "tmpd"       "dptp"       "date"       "pm25tmean2"
[6] "pm10tmean2" "o3tmean2"   "no2tmean2"

In [110]:
library(dplyr)
head(select(chicago_data, city:dptp))

  city tmpd dptp
1 chic 31.5 31.500
2 chic 33.0 29.875
3 chic 33.0 27.375
4 chic 29.0 28.625
5 chic 32.0 28.875
6 chic 40.0 35.125

In [111]:
head(select(chicago_data, -(city:dptp)))

  date       pm25tmean2 pm10tmean2 o3tmean2 no2tmean2
1 1987-01-01 NA         34.00000   4.250000 19.98810
2 1987-01-02 NA               NA   3.304348 23.19099
3 1987-01-03 NA         34.16667   3.333333 23.81548
4 1987-01-04 NA         47.00000   4.375000 30.43452
5 1987-01-05 NA               NA   4.750000 30.33333
6 1987-01-06 NA         48.00000   5.833333 25.77233

In [112]:
# do it without dplyr
i <- match('city', names(chicago_data))
j <- match('dptp', names(chicago_data))
head(chicago_data[, -(i:j)])

  date       pm25tmean2 pm10tmean2 o3tmean2 no2tmean2
1 1987-01-01 NA         34.00000   4.250000 19.98810
2 1987-01-02 NA               NA   3.304348 23.19099
3 1987-01-03 NA         34.16667   3.333333 23.81548
4 1987-01-04 NA         47.00000   4.375000 30.43452
5 1987-01-05 NA               NA   4.750000 30.33333
6 1987-01-06 NA         48.00000   5.833333 25.77233

**`filter`**

In [114]:
# condition on a single variable
chicago_data.f <- filter(chicago_data, pm25tmean2 > 30)
head(chicago_data.f)

  city tmpd dptp date       pm25tmean2 pm10tmean2 o3tmean2  no2tmean2
1 chic 23   21.9 1998-01-17 38.10      32.46154    3.180556 25.30000
2 chic 28   25.8 1998-01-23 33.95      38.69231    1.750000 29.37630
3 chic 55   51.3 1998-04-30 39.40      34.00000   10.786232 25.31310
4 chic 59   53.7 1998-05-01 35.40      28.50000   14.295125 31.42905
5 chic 57   52.0 1998-05-02 33.30      35.00000   20.662879 26.79861
6 chic 57   56.0 1998-05-07 32.10      34.50000   24.270422 33.99167

In [115]:
# condition on multiple variables
chicago_data.f <- filter(chicago_data, pm25tmean2 > 30 & tmpd > 80)
head(chicago_data.f)

  city tmpd dptp date       pm25tmean2 pm10tmean2 o3tmean2 no2tmean2
1 chic 81   71.2 1998-08-23 39.6000    59.0       45.86364 14.32639
2 chic 81   70.4 1998-09-06 31.5000    50.5       50.66250 20.31250
3 chic 82   72.2 2001-07-20 32.3000    58.5       33.00380 33.67500
4 chic 84   72.9 2001-08-01 43.7000    81.5       45.17736 27.44239
5 chic 85   72.6 2001-08-08 38.8375    70.0       37.98047 27.62743
6 chic 84   72.6 2001-08-09 38.2000    66.0       36.73245 26.46742

**`arrange`** to sort df

In [116]:
chicago_data <- arrange(chicago_data, date)
head(chicago_data)

  city tmpd dptp   date       pm25tmean2 pm10tmean2 o3tmean2 no2tmean2
1 chic 31.5 31.500 1987-01-01 NA         34.00000   4.250000 19.98810
2 chic 33.0 29.875 1987-01-02 NA               NA   3.304348 23.19099
3 chic 33.0 27.375 1987-01-03 NA         34.16667   3.333333 23.81548
4 chic 29.0 28.625 1987-01-04 NA         47.00000   4.375000 30.43452
5 chic 32.0 28.875 1987-01-05 NA               NA   4.750000 30.33333
6 chic 40.0 35.125 1987-01-06 NA         48.00000   5.833333 25.77233

In [117]:
chicago_data <- arrange(chicago_data, desc(date))
head(chicago_data)

  city tmpd dptp date       pm25tmean2 pm10tmean2 o3tmean2  no2tmean2
1 chic 35   30.1 2005-12-31 15.00000   23.5        2.531250 13.25000
2 chic 36   31.0 2005-12-30 15.05714   19.2        3.034420 22.80556
3 chic 35   29.4 2005-12-29  7.45000   23.5        6.794837 19.97222
4 chic 37   34.5 2005-12-28 17.75000   27.5        3.260417 19.28563
5 chic 40   33.6 2005-12-27 23.56000   27.0        4.468750 23.50000
6 chic 35   29.6 2005-12-26  8.40000    8.5       14.041667 16.81944

**`rename`**

In [119]:
chicago_data <- rename(chicago_data, pm25 = pm25tmean2, dewpoint = dptp)
head(chicago_data)

  city tmpd dewpoint date       pm25     pm10tmean2 o3tmean2  no2tmean2
1 chic 35   30.1     2005-12-31 15.00000 23.5        2.531250 13.25000
2 chic 36   31.0     2005-12-30 15.05714 19.2        3.034420 22.80556
3 chic 35   29.4     2005-12-29  7.45000 23.5        6.794837 19.97222
4 chic 37   34.5     2005-12-28 17.75000 27.5        3.260417 19.28563
5 chic 40   33.6     2005-12-27 23.56000 27.0        4.468750 23.50000
6 chic 35   29.6     2005-12-26  8.40000  8.5       14.041667 16.81944

**`mutate`** to transform or create new variables

In [120]:
chicago_data <- mutate(chicago_data, pm25detrend = pm25 - mean(pm25, na.rm = TRUE))
head(select(chicago_data, pm25, pm25detrend))

  pm25     pm25detrend
1 15.00000 -1.230958
2 15.05714 -1.173815
3  7.45000 -8.780958
4 17.75000  1.519042
5 23.56000  7.329042
6  8.40000 -7.830958

**`group_by`**

In [124]:
chicago_data <- mutate(chicago_data, tempcat = factor(1 * (tmpd > 80), labels = c('cold', 'hot')))
hotcold <- group_by(chicago_data, tempcat)
hotcold

Warning message:
“Factor `tempcat` contains implicit NA, consider using `forcats::fct_explicit_na`”

     city tmpd dewpoint date       pm25     pm10tmean2 o3tmean2  no2tmean2
1    chic 35   30.1     2005-12-31 15.00000 23.50       2.531250 13.25000
2    chic 36   31.0     2005-12-30 15.05714 19.20       3.034420 22.80556
3    chic 35   29.4     2005-12-29  7.45000 23.50       6.794837 19.97222
4    chic 37   34.5     2005-12-28 17.75000 27.50       3.260417 19.28563
5    chic 40   33.6     2005-12-27 23.56000 27.00       4.468750 23.50000
6    chic 35   29.6     2005-12-26  8.40000  8.50      14.041667 16.81944
7    chic 35   32.1     2005-12-25  6.70000  8.00      14.354167 13.79167
8    chic 37   35.2     2005-12-24 30.77143 25.20       1.770833 31.98611
9    chic 41   32.6     2005-12-23 32.90000 34.50       6.906250 29.08333
10   chic 22   23.3     2005-12-22 36.65000 42.50       5.385417 33.73026
11   chic 12    7.7     2005-12-21 37.92857 59.50       3.663949 34.86111
12   chic 13    7.7     2005-12-20 25.75000 32.00       3.849185 32.89773
13   chic  5   -0.3     2005-12-19 21.15000 21.00       8.058877 31.79167
14   chic 10    1.9     2005-12-18 12.20000 17.50      13.552083 19.11111
15   chic 16    7.3     2005-12-17 13.80000 20.00       8.593750 20.73611
16   chic 21   14.7     2005-12-16 11.00000 22.00      11.166667 16.87500
17   chic 30   27.9     2005-12-15 14.40000 16.50       4.895833 25.43056
18   chic 32   27.4     2005-12-14 26.90000 16.00       3.802083 30.63384
19   chic 26   19.8     2005-12-13 26.50000 21.00       6.628623 29.56944
20   chic 19   11.6     2005-12-12 19.22500 28.75       5.031250 39.74621
21   chic 20   17.2     2005-12-11 10.60000 14.00      11.333333 22.55556
22   chic 22   16.2     2005-12-10 18.20000 30.00       9.135417 28.70833
23   chic 20   10.9     2005-12-09 25.45000 22.00       5.958333 31.41667
24   chic 16   15.6     2005-12-08 24.30000 31.00       5.995265 34.22222
25   chic  8   -1.8     2005-12-07 37.80000 39.00       3.916214 34.30952
26   chic 11    3.2     2005-12-06 24.61667 33.00       4.701540 29.08333
27   chic 11    2.8     2005-12-05       NA 30.00       6.447917 28.38889
28   chic 20   15.8     2005-12-04 15.30000 15.50      13.177083 21.70833
29   chic 25   19.0     2005-12-03 13.34286 20.00      10.333333 25.19444
30   chic 19    8.5     2005-12-02       NA 19.50       9.156250 23.29167
⋮    ⋮    ⋮    ⋮        ⋮          ⋮        ⋮          ⋮         ⋮
6911 chic 32.5  24.125  1987-01-30 NA       59.00000    8.791667 19.79861
6912 chic 29.5  32.875  1987-01-29 NA       35.00000    2.916667 28.14529
6913 chic 29.5  18.250  1987-01-28 NA       47.00000    6.875000 29.12943
6914 chic 17.5  17.750  1987-01-27 NA       39.33333    6.000000 30.69306
6915 chic 16.0   4.750  1987-01-26 NA       71.00000    4.583333 32.42143
6916 chic  9.5  -5.250  1987-01-25 NA             NA    6.666667 26.30417
6917 chic  2.0  -5.625  1987-01-24 NA       38.00000   10.083333 18.69167
6918 chic  2.5 -12.250  1987-01-23 NA       55.00000   14.625000 14.66250
6919 chic 19.5   7.375  1987-01-22 NA       52.00000   10.500000 16.98798
6920 chic 22.0  20.625  1987-01-21 NA       32.85714    8.913043 24.52083
6921 chic 20.5  11.500  1987-01-20 NA       38.00000    7.250000 21.61021
6922 chic 23.0  15.750  1987-01-19 NA       32.00000   14.875000 17.17409
6923 chic 17.5  11.125  1987-01-18 NA       39.00000    6.375000 21.03333
6924 chic 27.0  24.750  1987-01-17 NA             NA    5.833333 20.70833
6925 chic 25.0  21.500  1987-01-16 NA       19.00000    7.916667 19.46667
6926 chic 32.5  24.250  1987-01-15 NA       28.83333    4.458333 18.87131
6927 chic 37.5  36.375  1987-01-14 NA       43.00000    4.208333 32.19444
6928 chic 34.0  32.250  1987-01-13 NA       53.00000    4.958333 38.06142
6929 chic 34.5  26.000  1987-01-12 NA       26.00000    8.000000 33.02083
6930 chic 29.5  20.125  1987-01-11 NA       22.00000   17.541667 13.70139
6931 chic 32.5  27.750  1987-01-10 NA             NA    4.958333 19.54167
6932 chic 26.5  29.000  1987-01-09 NA       33.28571    4.500000 23.38889
6933 chic 29.0  22.000  1987-01-08 NA       36.00000   11.291667 17.03723
6934 chic 34.5  26.750  1987-01-07 NA       41.00000    9.291667 20.58171
6935 chic 40.0  35.125  1987-01-06 NA       48.00000    5.833333 25.77233
6936 chic 32.0  28.875  1987-01-05 NA             NA    4.750000 30.33333
6937 chic 29.0  28.625  1987-01-04 NA       47.00000    4.375000 30.43452
6938 chic 33.0  27.375  1987-01-03 NA       34.16667    3.333333 23.81548
6939 chic 33.0  29.875  1987-01-02 NA             NA    3.304348 23.19099
6940 chic 31.5  31.500  1987-01-01 NA       34.00000    4.250000 19.98810
     pm25detrend tempcat
1    -1.2309575  cold
2    -1.1738147  cold
3    -8.7809575  cold
4     1.5190425  cold
5     7.3290425  cold
6    -7.8309575  cold
7    -9.5309575  cold
8    14.5404710  cold
9    16.6690425  cold
10   20.4190425  cold
11   21.6976139  cold
12    9.5190425  cold
13    4.9190425  cold
14   -4.0309575  cold
15   -2.4309575  cold
16   -5.2309575  cold
17   -1.8309575  cold
18   10.6690425  cold
19   10.2690425  cold
20    2.9940425  cold
21   -5.6309575  cold
22    1.9690425  cold
23    9.2190425  cold
24    8.0690425  cold
25   21.5690425  cold
26    8.3857091  cold
27           NA  cold
28   -0.9309575  cold
29   -2.8881004  cold
30           NA  cold
⋮    ⋮           ⋮
6911 NA          cold
6912 NA          cold
6913 NA          cold
6914 NA          cold
6915 NA          cold
6916 NA          cold
6917 NA          cold
6918 NA          cold
6919 NA          cold
6920 NA          cold
6921 NA          cold
6922 NA          cold
6923 NA          cold
6924 NA          cold
6925 NA          cold
6926 NA          cold
6927 NA          cold
6928 NA          cold
6929 NA          cold
6930 NA          cold
6931 NA          cold
6932 NA          cold
6933 NA          cold
6934 NA          cold
6935 NA          cold
6936 NA          cold
6937 NA          cold
6938 NA          cold
6939 NA          cold
6940 NA          cold

In [127]:
summarize(hotcold, pm25 = mean(pm25, na.rm = TRUE), o3 = max(o3tmean2), no2 = median(no2tmean2))

  tempcat pm25     o3        no2
1 cold    15.97807 66.587500 24.54924
2 hot     26.48118 62.969656 24.93870
3 NA      47.73750  9.416667 37.44444

In [129]:
chicago_data <- mutate(chicago_data, year = as.POSIXlt(date)$year + 1900)
years <- group_by(chicago_data, year)
summarize(years, pm25 = mean(pm25, na.rm = TRUE), o3 = max(o3tmean2), no2 = median(no2tmean2))

   year pm25     o3       no2
1  1987      NaN 62.96966 23.49369
2  1988      NaN 61.67708 24.52296
3  1989      NaN 59.72727 26.14062
4  1990      NaN 52.22917 22.59583
5  1991      NaN 63.10417 21.38194
6  1992      NaN 50.82870 24.78921
7  1993      NaN 44.30093 25.76993
8  1994      NaN 52.17844 28.47500
9  1995      NaN 66.58750 27.26042
10 1996      NaN 58.39583 26.38715
11 1997      NaN 56.54167 25.48143
12 1998 18.26467 50.66250 24.58649
13 1999 18.49646 57.48864 24.66667
14 2000 16.93806 55.76103 23.46082
15 2001 16.92632 51.81984 25.06522
16 2002 15.27335 54.88043 22.73750
17 2003 15.23183 56.16608 24.62500
18 2004 14.62864 44.48240 23.39130
19 2005 16.18556 58.84126 22.62387

**pipe**

In [132]:
chicago_data %>% mutate(month = as.POSIXlt(date)$mon + 1) %>% group_by(month) %>% summarize(pm25 = mean(pm25, na.rm = TRUE), o3 = max(o3tmean2), no2 = median(no2tmean2))

   month pm25     o3       no2
1   1    17.76996 28.22222 25.35417
2   2    20.37513 37.37500 26.78034
3   3    17.40818 39.05000 26.76984
4   4    13.85879 47.94907 25.03125
5   5    14.07420 52.75000 24.22222
6   6    15.86461 66.58750 25.01140
7   7    16.57087 59.54167 22.38442
8   8    16.93380 53.96701 22.98333
9   9    15.91279 57.48864 24.47917
10 10    14.23557 47.09275 24.15217
11 11    15.15794 29.45833 23.56537
12 12    17.52221 27.70833 24.45773

## Merging data

In [135]:
url1 <- 'https://raw.githubusercontent.com/jtleek/dataanalysis/master/week2/007summarizingData/data/reviews.csv'
url2 <- 'https://raw.githubusercontent.com/jtleek/dataanalysis/master/week2/007summarizingData/data/solutions.csv'
download.file(url = url1, destfile = './data/review.csv', method = 'curl', extra = '-L')
download.file(url = url2, destfile = './data/solution.csv', method = 'curl', extra = '-L')
review_data = read.csv('./data/review.csv')
solution_data = read.csv('./data/solution.csv')

In [136]:
head(review_data)

  id solution_id reviewer_id start      stop       time_left accept
1 1   3          27          1304095698 1304095758 1754      1
2 2   4          22          1304095188 1304095206 2306      1
3 3   5          28          1304095276 1304095320 2192      1
4 4   1          26          1304095267 1304095423 2089      1
5 5  10          29          1304095456 1304095469 2043      1
6 6   2          29          1304095471 1304095513 1999      1

In [137]:
head(solution_data)

  id problem_id subject_id start      stop       time_left answer
1 1  156        29         1304095119 1304095169 2343      B
2 2  269        25         1304095119 1304095183 2329      C
3 3   34        22         1304095127 1304095146 2366      C
4 4   19        23         1304095127 1304095150 2362      D
5 5  605        26         1304095127 1304095167 2345      A
6 6  384        27         1304095131 1304095270 2242      C

In [138]:
merged_data <- merge(review_data, solution_data, by.x = 'solution_id', by.y = 'id', all = TRUE)
head(merged_data)

  solution_id id reviewer_id start.x    stop.x     time_left.x accept
1 1            4 26          1304095267 1304095423 2089        1
2 2            6 29          1304095471 1304095513 1999        1
3 3            1 27          1304095698 1304095758 1754        1
4 4            2 22          1304095188 1304095206 2306        1
5 5            3 28          1304095276 1304095320 2192        1
6 6           16 22          1304095303 1304095471 2041        1
  problem_id subject_id start.y    stop.y     time_left.y answer
1 156        29         1304095119 1304095169 2343        B
2 269        25         1304095119 1304095183 2329        C
3  34        22         1304095127 1304095146 2366        C
4  19        23         1304095127 1304095150 2362        D
5 605        26         1304095127 1304095167 2345        A
6 384        27         1304095131 1304095270 2242        C

In [139]:
# by default, merge is performed using common columns
intersect(names(review_data), names(solution_data))

[1] "id"        "start"     "stop"      "time_left"

In [140]:
merged_data2 <- merge(review_data, solution_data, all = TRUE)
head(merged_data2)

  id start      stop       time_left solution_id reviewer_id accept problem_id
1 1  1304095119 1304095169 2343      NA          NA          NA     156
2 1  1304095698 1304095758 1754       3          27           1      NA
3 2  1304095119 1304095183 2329      NA          NA          NA     269
4 2  1304095188 1304095206 2306       4          22           1      NA
5 3  1304095127 1304095146 2366      NA          NA          NA      34
6 3  1304095276 1304095320 2192       5          28           1      NA
  subject_id answer
1 29         B
2 NA         NA
3 25         C
4 NA         NA
5 22         C
6 NA         NA

In [141]:
# using join in dplyr package
df1 <- data.frame(id = sample(1:10), x=rnorm(10))
df2 <- data.frame(id = sample(1:10), y=rnorm(10))
arrange(join(df1, df2), id)

Joining by: id

   id x           y
1   1  0.46524006 -1.7816059
2   2 -1.14718305 -0.2181791
3   3  0.38657543 -0.9709636
4   4 -0.08967292  0.9014842
5   5 -0.49346770  0.2299196
6   6  0.19153312  1.2285539
7   7 -0.53830686  0.8730263
8   8 -1.58824328 -0.3198427
9   9 -0.07711692 -1.0302366
10 10  1.70491055  0.4022299

In [142]:
# if we have multiple data frames
df3 <- data.frame(id = sample(1:10), z=rnorm(10))
df_list = list(df1, df2, df3)
join_all(df_list)

Joining by: id
Joining by: id

   id x           y          z
1   2 -1.14718305 -0.2181791  0.29610854
2   9 -0.07711692 -1.0302366 -1.10331178
3   5 -0.49346770  0.2299196  0.22986575
4   3  0.38657543 -0.9709636  0.12606857
5   8 -1.58824328 -0.3198427 -0.06915628
6   4 -0.08967292  0.9014842  1.53168420
7  10  1.70491055  0.4022299  1.12106887
8   7 -0.53830686  0.8730263 -0.42757382
9   6  0.19153312  1.2285539 -0.66797525
10  1  0.46524006 -1.7816059 -0.67057394