## MySQL

In [1]:
install.packages('RMySQL')

also installing the dependency ‘DBI’

The downloaded binary packages are in
	/var/folders/1x/hdfy228j1m56sj_h_wlzdd6c0000gn/T//RtmpPYzBSW/downloaded_packages

In [2]:
library(RMySQL)

Loading required package: DBI

In [3]:
ucsc_db <- dbConnect(MySQL(), user='genome', host='genome-mysql.soe.ucsc.edu')
result <- dbGetQuery(ucsc_db, 'show databases;'); dbDisconnect(ucsc_db)

[1] TRUE

In [4]:
result

    Database
1   acaChl1
2   ailMel1
3   allMis1
4   allSin1
5   amaVit1
6   anaPla1
7   ancCey1
8   angJap1
9   anoCar1
10  anoCar2
11  anoGam1
12  anoGam3
13  apaSpi1
14  apaVit1
15  apiMel1
16  apiMel2
17  aplCal1
18  aptFor1
19  aptMan1
20  aquChr2
21  araMac1
22  ascSuu1
23  balAcu1
24  balPav1
25  bisBis1
26  bosTau2
27  bosTau3
28  bosTau4
29  bosTau5
30  bosTau6
⋮   ⋮
295 strRat2
296 susScr11
297 susScr2
298 susScr3
299 taeGut1
300 taeGut2
301 tarSyr1
302 tarSyr2
303 tauEry1
304 tetNig1
305 tetNig2
306 thaSir1
307 tinGut2
308 triMan1
309 triSpi1
310 triSui1
311 tupBel1
312 turTru2
313 tytAlb1
314 uniProt
315 vicPac1
316 vicPac2
317 visiGene
318 xenLae2
319 xenTro1
320 xenTro2
321 xenTro3
322 xenTro7
323 xenTro9
324 zonAlb1

In [7]:
# we are only interted in hg19 db
hg19 <- dbConnect(MySQL(), user='genome', db = 'hg19', host='genome-mysql.soe.ucsc.edu')
all_tables <- dbListTables(hg19)
length(all_tables)

[1] 12423

In [8]:
all_tables[1:5]

[1] "HInv"         "HInvGeneMrna" "acembly"      "acemblyClass" "acemblyPep"

In [12]:
# get dimension of a specific table
dbListFields(hg19, 'affyU133Plus2')

[1] TRUE

 [1] "bin"         "matches"     "misMatches"  "repMatches"  "nCount"
 [6] "qNumInsert"  "qBaseInsert" "tNumInsert"  "tBaseInsert" "strand"
[11] "qName"       "qSize"       "qStart"      "qEnd"        "tName"
[16] "tSize"       "tStart"      "tEnd"        "blockCount"  "blockSizes"
[21] "qStarts"     "tStarts"

In [14]:
result <- dbGetQuery(hg19, 'select count(*) from affyU133Plus2;')
result

  count(*)
1 58463

In [15]:
# Read from tehe table
affy_data <- dbReadTable(hg19, 'affyU133Plus2')
head(affy_data)

Warning message in .local(conn, statement, ...):
“Unsigned INTEGER in col 0 imported as numeric”Warning message in .local(conn, statement, ...):
“Unsigned INTEGER in col 1 imported as numeric”Warning message in .local(conn, statement, ...):
“Unsigned INTEGER in col 2 imported as numeric”Warning message in .local(conn, statement, ...):
“Unsigned INTEGER in col 3 imported as numeric”Warning message in .local(conn, statement, ...):
“Unsigned INTEGER in col 4 imported as numeric”Warning message in .local(conn, statement, ...):
“Unsigned INTEGER in col 5 imported as numeric”Warning message in .local(conn, statement, ...):
“Unsigned INTEGER in col 6 imported as numeric”Warning message in .local(conn, statement, ...):
“Unsigned INTEGER in col 7 imported as numeric”Warning message in .local(conn, statement, ...):
“Unsigned INTEGER in col 8 imported as numeric”Warning message in .local(conn, statement, ...):
“Unsigned INTEGER in col 11 imported as numeric”Warning message in .local(conn, statement, ...):
“Unsigned INTEGER in col 12 imported as numeric”Warning message in .local(conn, statement, ...):
“Unsigned INTEGER in col 13 imported as numeric”Warning message in .local(conn, statement, ...):
“Unsigned INTEGER in col 15 imported as numeric”Warning message in .local(conn, statement, ...):
“Unsigned INTEGER in col 16 imported as numeric”Warning message in .local(conn, statement, ...):
“Unsigned INTEGER in col 17 imported as numeric”Warning message in .local(conn, statement, ...):
“Unsigned INTEGER in col 18 imported as numeric”

  bin matches misMatches repMatches nCount qNumInsert qBaseInsert tNumInsert
1 585  530     4         0           23     3         41          3
2 585 3355    17         0          109     9         67          9
3 585 4156    14         0           83    16         18          2
4 585 4667     9         0           68    21         42          3
5 585 5180    14         0          167    10         38          1
6 585  468     5         0           14     0          0          0
  tBaseInsert strand ⋯ qStart qEnd tName tSize     tStart tEnd  blockCount
1   898       -      ⋯  5      603 chr1  249250621 14361  15816  5
2 11621       -      ⋯  0     3548 chr1  249250621 14381  29483 17
3    93       -      ⋯  3     4274 chr1  249250621 14399  18745 18
4  5743       -      ⋯ 48     4834 chr1  249250621 14406  24893 23
5    29       -      ⋯  0     5399 chr1  249250621 19688  25078 11
6     0       -      ⋯  0      487 chr1  249250621 27542  28029  1
  blockSizes
1 93,144,229,70,21,
2 73,375,71,165,303,360,198,661,201,1,260,250,74,73,98,155,163,
3 690,10,32,33,376,4,5,15,5,11,7,41,277,859,141,51,443,1253,
4 99,352,286,24,49,14,6,5,8,149,14,44,98,12,10,355,837,59,8,1500,133,624,58,
5 131,26,1300,6,4,11,4,7,358,3359,155,
6 487,
  qStarts
1 34,132,278,541,611,
2 87,165,540,647,818,1123,1484,1682,2343,2545,2546,2808,3058,3133,3206,3317,3472,
3 44,735,746,779,813,1190,1195,1201,1217,1223,1235,1243,1285,1564,2423,2565,2617,3062,
4 0,99,452,739,764,814,829,836,842,851,1001,1016,1061,1160,1173,1184,1540,2381,2441,2450,3951,4103,4728,
5 0,132,159,1460,1467,1472,1484,1489,1497,1856,5244,
6 0,
  tStarts
1 14361,14454,14599,14968,15795,
2 14381,14454,14969,15075,15240,15543,15903,16104,16853,17054,17232,17492,17914,17988,18267,24736,29320,
3 14399,15089,15099,15131,15164,15540,15544,15549,15564,15569,15580,15587,15628,15906,16857,16998,17049,17492,
4 14406,20227,20579,20865,20889,20938,20952,20958,20963,20971,21120,21134,21178,21276,21288,21298,21653,22492,22551,22559,24059,24211,24835,
5 19688,19819,19845,21145,21151,21155,21166,21170,21177,21535,24923,
6 27542,

In [18]:
# Select a subset from a table
query <- dbSendQuery(hg19, 'select * from affyU133Plus2 where misMatches between 1 and 3 ')
affy_mis <- fetch(query); quantile(affy_mis$misMatches)

  0%  25%  50%  75% 100%
   1    1    2    2    3

In [19]:
affy_mis_small <- fetch(query, n=10); dbClearResult(query); dim(affy_mis_small)

[1] TRUE

[1] 10 22

In [20]:
dbDisconnect(hg19)

[1] TRUE

## Reading form HDF5

if (!requireNamespace("BiocManager", quietly = TRUE))
    install.packages("BiocManager")
BiocManager::install()

BiocManager::install(c("rhdf5"))

In [23]:
library(rhdf5)

In [24]:
created <- h5createFile('example.h5')
created

[1] TRUE

In [25]:
created <- h5createGroup('example.h5', 'g1')
created <- h5createGroup('example.h5', 'g2')
created <- h5createGroup('example.h5', 'g2/g2_1')
h5ls('example.h5')

  group name otype     dclass dim
0 /     g1   H5I_GROUP
1 /     g2   H5I_GROUP
2 /g2   g2_1 H5I_GROUP

In [26]:
# Write to groups
A = matrix(1:10, nr = 5, nc = 2)
h5write(A, 'example.h5', 'g1/A')
B = array(seq(0.1, 2.0, by=0.1), dim=c(5, 2, 2))
attr(B, 'scale') <- 'liter'
h5write(B, 'example.h5', 'g2/g2_1/B')
h5ls('example.h5')

  group    name otype       dclass  dim
0 /        g1   H5I_GROUP
1 /g1      A    H5I_DATASET INTEGER 5 x 2
2 /        g2   H5I_GROUP
3 /g2      g2_1 H5I_GROUP
4 /g2/g2_1 B    H5I_DATASET FLOAT   5 x 2 x 2

In [28]:
# Write a dataset
df = data.frame(1L:5L, seq(0, 1, length.out=5), c('ab', 'cd', 'efg', 'hadf', 'a'), stringsAsFactors = FALSE)
h5write(df, 'example.h5', 'df')
h5ls('example.h5')

  group    name otype       dclass   dim
0 /        df   H5I_DATASET COMPOUND 5
1 /        g1   H5I_GROUP
2 /g1      A    H5I_DATASET INTEGER  5 x 2
3 /        g2   H5I_GROUP
4 /g2      g2_1 H5I_GROUP
5 /g2/g2_1 B    H5I_DATASET FLOAT    5 x 2 x 2

In [29]:
# Reading and writing chunks
h5write(c(5, 8, 9), 'example.h5', 'g1/A', index=list(1:3, 1))
h5read('example.h5', 'g1/A')

     [,1] [,2]
[1,] 5     6
[2,] 8     7
[3,] 9     8
[4,] 4     9
[5,] 5    10